In [142]:
import numpy as np
import pandas as pd
import matplotlib

In [143]:
time_d=[0.1,0.2,0.3,0.4,0.5,0.6]
value_d=[1,2,3,4,5,6]

In [144]:
dict1 = dict(time=time_d[:3], value=value_d[:3])
dict22 = dict(time=time_d[3:], value=value_d[3:])

In [145]:
print(dict1)
print(dict22)

{'time': [0.1, 0.2, 0.3], 'value': [1, 2, 3]}
{'time': [0.4, 0.5, 0.6], 'value': [4, 5, 6]}

In [146]:
df1 = pd.DataFrame(data=dict1)
df22 = pd.DataFrame(data=dict22)

In [147]:
df22

   time  value
0   0.4      4
1   0.5      5
2   0.6      6

In [148]:
df1.to_csv('prrr1.csv')
df2.to_csv('prrr1.csv', mode='a', header=False)

In [119]:
# columns2 = ["time", "value"]

In [120]:
# for i in range(3,len(time_d)):
#     df2 = pd.DataFrame(data=[[time_d[i],value_d[i]]], columns=columns2)
#     df2.to_csv('prrr1.csv', mode='a', header=False)

In [121]:
# read_time = pd.read_csv('prrr1.csv', usecols=['time'])
# read_value = pd.read_csv('prrr1.csv', usecols=['value'])

In [122]:
print(read_time)
print(read_value)

   time
0   0.1
1   0.2
2   0.3
3   0.4
4   0.5
5   0.6
   value
0      1
1      2
2      3
3      4
4      5
5      6

100